<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= album.release_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= album.genre %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= album.rating %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= album.availability %>
  </p>

</div>
