<% content_for :title, "Albums" %>

<h1>Albums</h1>

<%= link_to "Create Album", new_album_path, class: "new-album-link", data: { test: "new-album" } %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div id="albums">
  <% @albums.each do |album| %>
    <div id="<%= dom_id(album) %>" class="album-card">
      <%= render album %>

      <div class="album-actions">
        <%= link_to "Show", album %> |
        <%= link_to "Edit", edit_album_path(album) %> |
        <%= link_to "Delete", album, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
